Node-red/flows.json
[{"id":"435e79a3.e26ed8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"47510128.f89f8","type":"ui_form","z":"435e79a3.e26ed8","name":"","label":"","group":"d9c7e9a0.954358","order":1,"width":"0","height":"0","options":[{"label":"customerID","value":"cid","type":"text","required":true,"rows":null},{"label":"gender","value":"gen","type":"text","required":true,"rows":null},{"label":"Senior citizen","value":"sc","type":"number","required":true,"rows":null},{"label":"Partner","value":"par","type":"text","required":false,"rows":null},{"label":"Dependents","value":"dep","type":"text","required":true,"rows":null},{"label":"tenure","value":"ten","type":"number","required":true,"rows":null},{"label":"PhoneService","value":"ps","type":"text","required":false,"rows":null},{"label":"MultipleLines","value":"ml","type":"text","required":false,"rows":null},{"label":"Internet Service","value":"is","type":"text","required":true,"rows":null},{"label":"OnlineSecurity","value":"os","type":"text","required":true,"rows":null},{"label":"OnlineBackup","value":"ob","type":"text","required":false,"rows":null},{"label":"DeviceProtection","value":"dp","type":"text","required":false,"rows":null},{"label":"TechSupport","value":"ts","type":"text","required":false,"rows":null},{"label":"StreamingTV","value":"st","type":"text","required":false,"rows":null},{"label":"StreamingMovies","value":"sm","type":"text","required":false,"rows":null},{"label":"Contract","value":"con","type":"text","required":true,"rows":null},{"label":"PaperlessBilling","value":"pb","type":"text","required":false,"rows":null},{"label":"PaymentMethod","value":"pm","type":"text","required":false,"rows":null},{"label":"MonthlyCharges","value":"mc","type":"number","required":false,"rows":null},{"label":"TotalCharges","value":"tc","type":"text","required":false,"rows":null}],"formValue":{"cid":"","gen":"","sc":"","par":"","dep":"","ten":"","ps":"","ml":"","is":"","os":"","ob":"","dp":"","ts":"","st":"","sm":"","con":"","pb":"","pm":"","mc":"","tc":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":400,"wires":[["1d4330cc.ca510f"]]},{"id":"1d4330cc.ca510f","type":"function","z":"435e79a3.e26ed8","name":"Pre Token","func":"global.set(\"cid\",msg.payload.cid)\nglobal.set(\"gen\",msg.payload.gen)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"par\",msg.payload.par)\nglobal.set(\"dep\",msg.payload.dep)\nglobal.set(\"ten\",msg.payload.ten)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"ml\",msg.payload.ml)\nglobal.set(\"is\",msg.payload.is)\nglobal.set(\"os\",msg.payload.os)\nglobal.set(\"ob\",msg.payload.ob)\nglobal.set(\"dp\",msg.payload.dp)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"con\",msg.payload.con)\nglobal.set(\"pb\",msg.payload.pb)\nglobal.set(\"pm\",msg.payload.pm)\nglobal.set(\"mc\",msg.payload.mc)\nglobal.set(\"tc\",msg.payload.tc)\nvar apikey=\"7eUCdaVNWkYxCzdfzGVpv6Dh4xMo9Gzkkv8r44tFnFdB\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":360,"wires":[["5b1fd4cf.6ec28c"]]},{"id":"5b1fd4cf.6ec28c","type":"http request","z":"435e79a3.e26ed8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":440,"wires":[["47ba5780.95b2b8"]]},{"id":"47ba5780.95b2b8","type":"function","z":"435e79a3.e26ed8","name":"Pre Token","func":"var cid=global.get('cid')\nvar gen=global.get('gen')\nvar sc=global.get('sc')\nvar par=global.get('par')\nvar dep=global.get('dep')\nvar ten=global.get('ten')\nvar ps=global.get('ps')\nvar ml=global.get('ml')\nvar is=global.get('is')\nvar os=global.get('os')\nvar ob=global.get('ob')\nvar dp=global.get('dp')\nvar ts=global.get('ts')\nvar st=global.get('st')\nvar sm=global.get('sm')\nvar con=global.get('con')\nvar pb=global.get('pb')\nvar pm=global.get('pm')\nvar mc=global.get('mc')\nvar tc=global.get('tc')\nvar token=msg.payload.access_token\nvar instance_id=\"2401561a-9ecc-4bf9-b191-17d68c0f05fc\"\nmsg.headers={'Content-Type': 'application/json', \"Authorization\": \"Bearer \"+token, \"ML-Instance-ID\": instance_id}\nmsg.payload = {\"input_data\": [{\"fields\": [\"customerID\", \"gender\", \"SeniorCitizen\", \"Partner\", \"Dependents\", \"tenure\", \"PhoneService\", \"MultipleLines\", \"InternetService\", \"OnlineSecurity\", \"OnlineBackup\", \"DeviceProtection\", \"TechSupport\", \"StreamingTV\", \"StreamingMovies\", \"Contract\", \"PaperlessBilling\", \"PaymentMethod\", \"MonthlyCharges\", \"TotalCharges\"], \"values\": [[cid,gen,sc,par,dep,ten,ps,ml,is,os,ob,dp,ts,st,sm,con,pb,pm,mc,tc]]}]};\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":380,"wires":[["7a322c48.e7cab4"]]},{"id":"7a322c48.e7cab4","type":"http request","z":"435e79a3.e26ed8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/1f29080a-161b-4802-b284-b0c928cc84cf/predictions","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":480,"wires":[["f5ae5fc2.29c45","d47c65ae.05bcd8"]]},{"id":"f5ae5fc2.29c45","type":"function","z":"435e79a3.e26ed8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":320,"wires":[["ad5bc99c.f81548"]]},{"id":"ad5bc99c.f81548","type":"ui_text","z":"435e79a3.e26ed8","group":"d9c7e9a0.954358","order":2,"width":0,"height":0,"name":"","label":"Churn","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":260,"wires":[]},{"id":"d47c65ae.05bcd8","type":"debug","z":"435e79a3.e26ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":460,"wires":[]},{"id":"d9c7e9a0.954358","type":"ui_group","z":"","name":"Telecom churn predictor","tab":"d2d9517e.51433","order":2,"disp":true,"width":"7","collapse":false},{"id":"d2d9517e.51433","type":"ui_tab","z":"","name":"Churn Predictor","icon":"dashboard","disabled":false,"hidden":false}]